/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
@font-face{
    font-family:"DIN-Bold";
    src:url('http://fifokart.com/assets/fonts/DINBd.ttf') format('truetype'),
		url('http://fifokart.com/assets/fonts/DINBd.woff') format('woff');
}
@font-face{
    font-family:"DIN-Black";
    src:url('http://fifokart.com/assets/fonts/DINBk.ttf') format('truetype'),
		url('http://fifokart.com/assets/fonts/DINBk.woff') format('woff');
}
@font-face{
    font-family:"DIN-Light";
    src:url('http://fifokart.com/assets/fonts/DINLi.ttf') format('truetype'),
		url('http://fifokart.com/assets/fonts/DINLi.woff') format('woff');
}
@font-face{
    font-family:"DINLight";
    src:url('http://fifokart.com/assets/fonts/DINLight.ttf') format('truetype'),
		url('http://fifokart.com/assets/fonts/DINLight.woff') format('woff');
}
@font-face{
    font-family:"DIN";
    src:url('http://fifokart.com/assets/fonts/DINRegular.ttf') format('truetype'),
		url('http://fifokart.com/assets/fonts/DINRegular.woff') format('woff');
}

.set-pad {
    
}
.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-12px;
   right:-10px;
   font-size:10px;
   background:red;
   color:white;
   width:26px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
.set-row-pad {
    padding-top:30px;
    padding-bottom:50px;
}
.set-row-pad-lg {
    padding-bottom: 200px;
    padding-top: 30px;
}
]
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 40px;
}

#menu {
    background-color: #F7F6F6;
    color: black;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 70px;
}


.navbar-inverse {
    border-color: transparent;
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
        color: black;
        padding: 22px 10px;
    }


/*=====================================
  HOME STYLES 
    ===================================*/
.home-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/header.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .home-sec .overlay {
        background: rgba(0, 0, 0, 0.5);
        min-height: 100vh;
    }

    .home-sec h1 {
        color: #fff;
        font-size: 50px;
        text-transform: uppercase;
        padding-bottom: 35px;
    }

    .home-sec h3 {
        text-transform: uppercase;
    }



.set-flexi {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0px solid #000;
    padding-top: 130px;
}

.flex-control-nav {
    display: none!important;
}

.set-flexi a {
    margin: 5px;
}
/*=====================================
  TAG LINE STYLES 
    ===================================*/

.tag-line {
    background: #E9E9E9;
    color: #000;
}

    .tag-line h2 {
        font-size: 20px;
        font-weight: 900;
        padding: 5px 10px 10px 5px;
        color: #005E5A;
    }

        .tag-line h2 > i {
            margin-left: 8px;
            margin-right: 8px;
        }
/*=====================================
  HEADER LINE STYLES 
    ===================================*/
.header-line {
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 25px;
    color: #000;
}

h1::after {
    content: " ";
    border: solid 2px #ABC8E2;
    display: block;
    width: 200px;
    margin: 12px auto;
}

/*=====================================
  ABOUT STYLES 
  ===================================*/
.about-div {
    padding: 30px;
}

.icon-round-border {
    border: 10px double #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .icon-round-border:hover {
        color: #fff;
        border: 10px double #fff;
        background-color: #1A94C4;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

.about-div hr {
    border: 1px solid #1A94C4;
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-div p {
    padding-top: 10px;
}

.btn-set {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 20px;
}
/*=====================================
  FACULTY STYLES 
  ===================================*/
#faculty-sec {
    background-color: #dfdff5;
    color: #000;
}

    #faculty-sec .header-line {
        color: #000;
    }
.faculty-div h4 {
    line-height:30px;
    font-weight:700;
}
.faculty-div {
    padding: 30px;
}

    .faculty-div hr {
        border: 1px solid #1A94C4;
    }

    .faculty-div h3 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .faculty-div p {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    /*.faculty-div img {
        border: 10px double #000;
    }*/

/*=====================================
  CONTACT STYLES 
  ===================================*/
#contact-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/contact1.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

#contact-sec .overlay {
        background: rgba(0, 0, 0, 0.76);
        min-height:90vh;
    }

    #contact-sec h1 {
        color:#fff;
    }
#contact-sec .form-control{
    background-color:rgba(255, 255, 255, 0);
    color:#fff;
}
/*=====================================
  Footer STYLES 
  ===================================*/
#footer {
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#fff;
    font-size:15px;
}



/*dfhg dgudhg dugh d*/

#conatinerDiv{
	margin-top:20px;
}

.order-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    padding: 0;
    -webkit-background-size: cover;
    color: #000;
    background-attachment: fixed;
	min-height:100vh;
}

.login-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    padding: 0;
    -webkit-background-size: cover;
    color: #000;
    background-attachment: fixed;
	min-height:100vh;
}

.summary-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    padding: 0;
    -webkit-background-size: cover;
    color: #000;
    background-attachment: fixed;
	min-height:100vh;
}

.loginContainer{
	position: absolute;
    top: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.summaryContainer{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.checkout-sec{
	padding-top: 10px;
    padding-bottom: 60px;
    padding: 0;
    -webkit-background-size: cover;
    color: #000;
    background-attachment: fixed;
	min-height:664px;
}

.col-left, .col-right{
	height: 90vh;
    padding-top: 10px;
}

#dateInput {
    display: inline-block;
    width: calc(100% - 40px);
    margin-left: 10px;
}

#calendarFont{
	width: 20px;
    margin-left: 10px;
	cursor:pointer;
	color: #1B76FF;
}


.slotWrapper{
	display:flex;
	margin-top: 10px;
}

.calendarWrapper{
	width:50%;
	display:inline-block;
}

.slotSelectWrapper{
	width:46%;
	display:inline-block;
	margin-left:4%;
}

#calendarDiv{
	margin-top: 15px;
    margin-left: 40px;
}

.mySquare{
	background-color: #e7e7e7;
    padding: 10px;
	cursor:pointer;
}

#quantityInput{
	display: inline-block !important;
    width: 30% !important;
    position: relative;
    top: 1px;
	text-align: center;
}

td {
    border-top: 0px !important;
}

.form-control[disabled] {
    cursor: auto !important;
    background-color: #fff !important;
    opacity: 1;
}

#checkOut td {
    vertical-align: bottom;
}

#pcode{
	width: calc(100% - 110px) !important;
    display: inline-block !important;
}

#promButton {
    width: 100px !important;
    display: inline-block !important;
    float: right;
}

.errorClass{
	    border-color: #A94442;
}

.whyus {
    margin-top: 80px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

.goButton{
	width: 150px;    
}

.inputdimension{
	height:40px !important;
	border-radius:0px !important;
}

.loginElement{
	width: 35% !important;
    margin: auto;
    min-width: 250px;
}

#leftOptions li {
    padding: 20px 10px;
    cursor: pointer;
}

.table{
	margin-bottom: 0px !important;
}

.switch.checked {
    background: #1B76FF !important;
    border-color: #1B76FF !important;
}
.switch.wide.checked small {
    left: 55px !important;
	top: 0px !important;
}

.switch .on{
	top: -5% !important;
    left: 25% !important;
}

.switch .off{
	right: 25% !important;
    top: -5% !important;
}

.switch {
    display: table-cell;
}

#conatinerDiv{
	min-height: 100vh;
    height: auto;
}

.marginTop{
	margin-top:40px;
}

.imagesClass{
	width: 60px;
    height: 60px;
   
}
#waterLogos li{
	border:1px solid #fff;
	cursor: pointer;
	border-radius: 0px !important;
	
}
#waterQuantities li{
	border:none;
	
}

#waterLogos li:hover{
	/*border:2px solid #328FCD !important;
	box-shadow: 1px 1px 1px 1px #328FCD;*/
	border: 1px solid #e7e7e7;
   
}
.list-group-item{
	margin-bottom: 10px !important;
	border-radius: 0px !important;
}

.canImageDiv{
	display: inline-block;
	width: calc(100% - 115px);
	vertical-align: top;
    height: 375px;
    padding-bottom: 15px;
	
	
}

.canLogoDiv{
	width: 91px;
    display: inline-block;
    height: 375px;
	
}
.quantityDiv{
	height: 375px;
}
.quantityInnerDiv{
	height: 60px;
    display: flex;
    align-items: center;
	text-align: center;
	
}

.quantityTotalPriceDiv{
	display: flex;
    align-items: center;
	text-align: center;
	
}

.brandSelected{
	    box-shadow: 2px 2px 2px 2px #666;
		border: none !important;
}
.quantityDiv{
	height: 435px;
}

.brandNameDiv{
	padding: 6px 12px;
    font-size: 18px;
    vertical-align: middle;
    width: 150px;
    display: inline-block;
    text-align: left;
}

.quantityPriceDiv{
    padding: 6px 12px;
    font-size: 22px;
    vertical-align: middle;
    display: inline-block;
    width: 130px;
    text-align: right;
}
.overlayDiv{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #ccc;
    opacity: 0.5;
}

.overlayHide{
	display:none;
}

.orderLeftDiv{
	width:39%;
	display:inline-block;
}
.orderRightDiv{
	width:59%;
	display:inline-block;
}
.orderRightMargin{
	margin-right:20px;
}
.quantityWidth{
	display: inline-block;
	min-width: 120px;
	width:auto;
}
.cancelDiv{
	display: inline-block;
	width: 70px;
	padding: 6px 12px;
	vertical-align: middle;
}

#checkOut{
    top: -15px;
    position: relative;
}
ul{
	margin-bottom:0px !important;
}

.btn-primary{
	background-color:#1B76FF !important;
}

.btn-warning{
	background-color:#f7941d !important;
}

.brandCard {
    width: 32%;
    height: 135px;
    display: inline-block;
    margin: 10px;
	box-shadow: 2px 2px 2px 2px #666;
	text-align: center;
	background-color: #f7f7f7;
}
.brandCard hr {
    margin: 0px;
	border-top: 1px solid #dac9b9 !important;
}
.cardQuantityWidth{
	display:inline-block;
	margin-left: 5px;
}
.cardQuantityWidth button {
    padding: 2px 6px 1px 7px;
}
.btn-success {
    color: #fff;
    background-color: #0CB757 !important;
    border-color: #0CB757 !important;
}
.qSpan{
	padding: 6px 12px;
	font-size: 18px;
	vertical-align: middle;
}
.prmocodeDiv{
	float: left;
	width:50%;
}
.cbDiv{
	
}
.desktopDiv{
	display:block;
}
.mobDiv{
	display:none;
}
.cardsWrapper{
	padding-left: 20px;
}
.orderNowBtn{
	float: right;
	margin-top: 30px;
	width:150px;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
}
.homeLabelClass{
	width: 30%;
    display: inline-block;
    margin-right: 20px;
}
.switchDivClass{
	display: table-cell;
    vertical-align: top;
    padding-top: 10px;
}
.switchLabelClass{
	display:table-cell;
	padding-right: 15px;
}
.select2-selection--single {
    height: 40px !important;
    border-radius: 0px !important;
    border-color: #CCC !important;
}

.select2-selection__arrow {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
	text-align: left !important;
}

.select2 {
    width: 100% !important;
}

.navbar-toggle {
    margin-top: 18px;
}

.Crossamount{
	text-decoration: line-through;
}

.priceDetails{
	    width: 40%;
    padding-right: 8px !important;
    text-align: right;
}
.blocking-click .spinner {
  width: 16px;
  height: 11px;
  background-image: url(http://monterail.github.io/angular-blocking-click/images/spinner-small.gif);
}
.blocking-click{
	float:right;
}

@media (max-width: 320px) {
	
	
	.switch.wide.checked small {
		left: 45px !important;
		top: 0px !important;
	}
	.switchLabelClass{
		width:76%;
	}

	
	.home-sec h1 {
		font-size: 28px;
	}
	#offerImg{
		width:100% !important;
	}
	.set-flexi {
		padding-top: 70px;
	}
	.homeLabelClass {
		width: 100%;
		display: block;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	.slotWrapper {
		display: block;
	}
	.calendarWrapper {
		width: 100%;
	}
	.orderNowBtn {
		width: 100%;
	}
	.slotSelectWrapper {
		width: 100%;
		margin-left: 0;
	}
	.cardsWrapper{
		text-align: center;
		padding-left: 0px;
	}
	.brandCard {
		width: 70%;
	}

	.desktopDiv{
		display:none;
	}
	.mobDiv{
		display:block;
		margin-left:10px;
		margin-right:10px;
	}
	.prmocodeDiv {
		width: 100%;
	}
	#pcode {
		width: calc(100% - 130px) !important;
	}
	.qSpan {
		padding: 2px 4px;
		font-size: 14px;
	}
	.quantityWidth {
		min-width: 92px;
	}
	.quantityPriceDiv {
		padding: 6px 0px;
		font-size: 14px;
		min-width: 55px;
		width: auto;
	}
	.canImageDiv {
		display: none !important;
	}
	.brandNameDiv {
		display: none;
	}
	.cancelDiv {
		width: 35px;
		padding: 0px;
		margin-left:5px;
	}
	#waterQuantities .list-group-item{
		padding: 10.7px 0px !important;
	}
	.orderRightMargin {
		margin-right: 0px;
	}
	.btn {
		padding: 3px 8px;
	}
	.canLogoDiv {
		display: block;
		margin: 0 auto;
	}
	.orderLeftDiv {
		width: 33%;
	}
	.orderRightDiv {
		width: 65%;
	}
    .sample {
        font-size: 15px;
    }
    .bar {
        width: 100%
    }
    .go {
        width: 100%;
        
    }
    .col-left {
        height: 62vh;
        padding-top: 2px;
    }
    .col-right {
        height: 83vh;
        padding-top: 45px;
    }
    .inputdimension {
        height: 40px !important;
        border-radius: 0px !important;
    }
    .buttons {
        width: 100%;
        float: right;
		margin-top:10px;
    }
    #promButton {
        width: 120px !important;
        display: inline-block !important;
    }
    .spacing {
        margin-bottom: 55px;
    }
    .menuline {
        margin-top: 17px;
    }
    .imageres {
        margin-top: 50px;
    }
	.refund{
		width:100%!important ;
		text-align:center !important;
		font-size:80%;
		
	}
	.refund1{
		width:100%!important ;
		text-align:center !important;
		
	}
	.refmar{
		margin-top:50px !important;
	}
}
@media (min-width: 321px) and (max-width: 699px) {
	.priceDetails{
			width: 40%;
		padding-right: 0px !important;
		text-align: right;
	}
	.address{
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.refund{
		width:100%!important ;
		text-align:center !important;
		
	}
	.refund1{
		width:100%!important ;
		text-align:center !important;
		
	}
	.refmar{
		margin-top:50px !important;
	}
	.switch.wide.checked small {
		left: 57px !important;
		top: 0px !important;
	}
	.switchLabelClass{
		width:76%;
	}
	.home-sec h1 {
		font-size: 29px;
	}
	#offerImg{
		width:100% !important;
	}
	.set-flexi {
		padding-top: 35px;
	}
	.homeLabelClass {
		width: 100%;
		display: block;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	.slotWrapper {
		display: block;
	}
	.calendarWrapper {
		width: 100%;
	}
	.orderNowBtn {
		width: 100%;
	}
	.slotSelectWrapper {
		width: 100%;
		margin-left: 0;
	}
	.cardsWrapper{
		text-align: center;
		padding-left: 0px;
	}
	.amountSize{
		font-size:20px !important;
	}
	.brandCard {
		width: 70%;
	}

	.desktopDiv{
		display:none;
	}
	.mobDiv{
		display:block;
		margin-left:10px;
		margin-right:10px;
	}
	.prmocodeDiv {
		width: 100%;
	}
	#pcode {
		width: calc(100% - 130px) !important;
	}
	.qSpan {
		padding: 2px 4px;
		font-size: 14px;
	}
	.quantityWidth {
		min-width: 100px;
	}
	.quantityPriceDiv {
		padding: 6px 0px;
		font-size: 14px;
		width: 75px;
	}
	.canImageDiv {
		display: none !important;
	}
	.brandNameDiv {
		display: none;
	}
	.cancelDiv {
		width: 35px;
		padding: 0px;
		margin-left:5px;
	}
	#waterQuantities .list-group-item{
		padding: 10.7px 0px !important;
	}
	.orderRightMargin {
		margin-right: 0px;
	}
	.btn {
		padding: 3px 8px;
	}
	.canLogoDiv {
		display: block;
		margin: 0 auto;
	}
	.orderLeftDiv {
		width: 30%;
	}
	.orderRightDiv {
		width: 65%;
	}
    .sample {
        font-size: 15px;
    }
    .bar {
        width: 100%
    }
    .go {
        width: 100%;
        
    }
    .col-left {
        height: 62vh;
        padding-top: 2px;
    }
    .col-right {
        height: 83vh;
        padding-top: 45px;
    }
    .inputdimension {
        height: 40px !important;
        border-radius: 0px !important;
    }
    .buttons {
        width: 100%;
        float: right;
		margin-top:10px;
    }
    #promButton {
        width: 120px !important;
        display: inline-block !important;
    }
    .spacing {
        margin-bottom: 55px;
    }
    .menuline {
        margin-top: 17px;
    }
    .imageres {
        margin-top: 50px;
    }
}
@media (min-width: 700px) and (max-width: 1023px) {
	.priceDetails{
			width: 40%;
		padding-right: 0px !important;
		text-align: right;
	}
	.address{
		padding-left:0px !important;
		padding-right:0px !important;
	}
	#conatinerDiv {
		min-height: 65vh !important;
	}
	.refund{
		width:100%!important ;
		text-align:center !important;
		
	}
	.refund1{
		width:100%!important ;
		text-align:center !important;
		
	}
	.refmar{
		margin-top:175px !important;
	}
	.summaryContainer{
		top: 70px;
	}
	.switch.wide.checked small {
		left: 57px !important;
		top: 0px !important;
	}
	.switchLabelClass{
		width:76%;
	}
	.home-sec h1 {
		font-size: 28px;
	}
	#offerImg{
		width:100% !important;
	}
	.set-flexi {
		padding-top: 120px;
	}
	.homeLabelClass {
		width: 75%;
		display: block;
		margin: 20px auto;
		margin-bottom: 10px;
	}
	.slotWrapper {
		display: block;
	}
	.calendarWrapper {
		width: 100%;
	}
	.orderNowBtn {
		width: 100%;
	}
	.slotSelectWrapper {
		width: 100%;
		margin-left: 0;
	}
	.cardsWrapper{
		text-align: center;
		padding-left: 0px;
	}
	.brandCard {
		width: 70%;
	}

	.desktopDiv{
		display:none;
	}
	.mobDiv{
		display:block;
		margin-left:10px;
		margin-right:10px;
	}
	.prmocodeDiv {
		width: 100%;
	}
	#pcode {
		width: calc(100% - 160px) !important;
	}
	.qSpan {
		padding: 2px 4px;
		font-size: 14px;
	}
	.quantityWidth {
		min-width: 125px;
	}
	.quantityPriceDiv {
		padding: 6px 0px;
		font-size: 14px;
		width: 150px;
	}
	.canImageDiv {
		display: none !important;
	}
	.brandNameDiv {
		display: none;
	}
	.cancelDiv {
		width: 35px;
		padding: 0px;
		margin-left:5px;
	}
	#waterQuantities .list-group-item{
		padding: 10.7px 0px !important;
	}
	.orderRightMargin {
		margin-right: 35px;
	}
	.btn {
		padding: 3px 8px;
	}
	.canLogoDiv {
		display: block;
		margin: 0 auto;
	}
	.orderLeftDiv {
		width: 30%;
	}
	.orderRightDiv {
		width: 65%;
	}
    .sample {
        font-size: 15px;
    }
    .bar {
        width: 100%
    }
    .go {
        width: 100%;
        
    }
    .col-left {
        height: 62vh;
        padding-top: 2px;
    }
    .col-right {
        height: 83vh;
        padding-top: 45px;
    }
    .inputdimension {
        height: 40px !important;
        border-radius: 0px !important;
    }
    .buttons {
        width: 100%;
        float: right;
		margin-top:10px;
    }
    #promButton {
        width: 150px !important;
        display: inline-block !important;
    }
    .spacing {
        margin-bottom: 55px;
    }
    .menuline {
        
    }
    .imageres {
        margin-top: 50px;
    }
}
@media (min-width: 1024px) {
	
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px !important;
}
	
    .sample {
        font-size: 20px;
        margin-top: 5px;
		text-align:right;
    }
    .bar {
        width: 100%
    }
    .go {
        
    }
    .col-left,
    .col-right {
        height: 90vh;
        padding-top: 10px;
    }
    .inputdimension {
        height: 40px !important;
        border-radius: 0px !important;
    }
    #promButton {
        width: 100px !important;
        display: inline-block !important;
        float: right;
    }
    .buttons {
        width: 150px;
        float: right;
    }
    .imageres {
        margin-top: 100px;
    }
}


@media (min-width: 321px) and (max-width: 699px) and (orientation : landscape){
	.address{
		padding-left:0px !important;
		padding-right:0px !important;
	}
		.summaryContainer{
		top: 140px;
	}
	
	.refund{
		width:60%!important ;
		text-align:center !important;
		
	}
	.refund1{
		width:40%!important ;
		text-align:center !important;
		
	}
}

@media (min-width: 700px) and (max-width: 1023px) and (orientation : landscape){
	
	.refund{
		width:50%!important ;
		text-align:center !important;
		
	}
	.refund1{
		width:50%!important ;
		text-align:center !important;
		
	}
	.refmar{
		margin-top:65px !important;
	}
}

@media (min-width:768px) and (max-width:990px) and (orientation:portrait){
	.ipadHeader{
		display:none !important;
	}
	
	.ipadHeader1{
		display:block !important;
	}
}