/*header*/
@media screen and (max-width: 400px) {
    .header-blockholder-custom {
        flex-basis: unset !important;
    }
    .headerLabels-custom {
        display: none !important;
    }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
    .header-blockholder-custom {
        flex-basis: unset !important;
    }
    .headerLabels-custom {
        display: none !important;
    }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .header-blockholder-custom {
        flex-basis: unset !important;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    .header-blockholder-custom {
        flex-basis: unset !important;
    }
}

/*Banner*/
@media screen and (max-width: 400px) {
    bannerContainer {
        height: 310px !important;
    }
    .centered {
        width: 100% !important;
    }
    .centeredHeader {
        font-size: 160%;
        padding-top: 21% !important;
    }
    .centeredHContent {
        font-size: 105%;
    }
    .centeredInput {
        width: 90% !important;
    }
    .search-input-custom {
        background-size: 7%;
    }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
     bannerContainer {
        height: 310px !important;
    }
    .centered {
        width: 100% !important;
    }
    .centeredHeader {
        font-size: 160%;
        padding-top: 21% !important;
    }
    .centeredHContent {
        font-size: 105%;
    }
    .centeredInput {
        width: 90% !important;
    }
    .search-input-custom {
        background-size: 7%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
    bannerContainer {
        height: 310px !important;
    }
    .centered {
        width: 100% !important;
    }
    .centeredHeader {
        font-size: 160%;
    }
    .centeredHContent {
        font-size: 105%;
    }
    .centeredInput {
        width: 90% !important;
    }
    .search-input-custom {
        background-size: 7%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    .centeredInput {
        width: 90% !important;
    }
}