
<div class="container-fluid">
 
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Billing</h4>
					<!-- <p class="category">Complete your profile</p> -->
					<!-- <button class="category btn btn-default btn-sm "
						data-toggle="modal" data-target="#addBill">Add</button> -->
				</div>

				<div class="card-content table-responsive">
					<table class="table table-hover">
						<thead class="text-primary">
							<th>S.No</th>
							<th>Billing No</th>
							<th>Date</th>
							<th>Time</th>
							<th>Particulars</th>
							<th>Rate</th>
							<th>Qty</th>
							<th>Amount</th>
							<th>Total</th>
							<th>Payble</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr>

								<td>1</td>
								<!-- <td class="text-danger">Ortho</td> -->
								<td>01234</td>
								<td>10-06-17</td>
								<td>2:48 PM</td>
								<td>USG Abdomen</td>
								<td>1350</td>
								<td>1</td>
								<td>1350</td>
								<td>1350</td>
								<td>1350</td>
								<td><button class="btn-primary"
										style="border: transparent; margin: 0.5%" data-toggle="modal"
										data-target="#editBill">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button class="btn-primary"   type="button" data-toggle="modal"  data-target="#appoPrintBillingModal" title="Generat Bill"><span class="glyphicon glyphicon-print"></span></button>
									<button class="btn-primary"
										style="border: transparent; margin: 0.5%">
										<span class="glyphicon glyphicon-remove"></span>
									</button></td>


							</tr>
							



						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</form>
</div>
<script type="text/javascript">
           /*  $(function () {
                $('#datetimepicker3').datetimepicker({
                	
                });
				$('#datetimepicker4').datetimepicker({
                	
                });
            }); */
            
            
            (function () {
                var
                 form = $('.form'),
                 cache_width = form.width(),
                 a4 = [595.28, 841.89]; // for a4 size paper width and height

                $('#create_pdf').on('click', function () {
                    $('body').scrollTop(0);
                    createPDF();
                });
                //create pdf
                function createPDF() {
                    getCanvas().then(function (canvas) {
                        var
                         img = canvas.toDataURL("image/png"),
                         doc = new jsPDF({
                             unit: 'px',
                             format: 'a4'
                         });
                        doc.addImage(img, 'JPEG', 20, 20);
                        doc.save('bhavdip-html-to-pdf.pdf');
                        form.width(cache_width);
                    });
                }

                // create canvas object
                function getCanvas() {
                    form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');
                    return html2canvas(form, {
                        imageTimeout: 2000,
                        removeContainer: true
                    });
                }

            }());
        </script>
        <script>
            /*
         * jQuery helper plugin for examples and tests
         */
            (function ($) {
                $.fn.html2canvas = function (options) {
                    var date = new Date(),
                    $message = null,
                    timeoutTimer = false,
                    timer = date.getTime();
                    html2canvas.logging = options && options.logging;
                    html2canvas.Preload(this[0], $.extend({
                        complete: function (images) {
                            var queue = html2canvas.Parse(this[0], images, options),
                            $canvas = $(html2canvas.Renderer(queue, options)),
                            finishTime = new Date();

                            $canvas.css({ position: 'absolute', left: 0, top: 0 }).appendTo(document.body);
                            $canvas.siblings().toggle();

                            $(window).click(function () {
                                if (!$canvas.is(':visible')) {
                                    $canvas.toggle().siblings().toggle();
                                    throwMessage("Canvas Render visible");
                                } else {
                                    $canvas.siblings().toggle();
                                    $canvas.toggle();
                                    throwMessage("Canvas Render hidden");
                                }
                            });
                            throwMessage('Screenshot created in ' + ((finishTime.getTime() - timer) / 1000) + " seconds<br />", 4000);
                        }
                    }, options));

                    function throwMessage(msg, duration) {
                        window.clearTimeout(timeoutTimer);
                        timeoutTimer = window.setTimeout(function () {
                            $message.fadeOut(function () {
                                $message.remove();
                            });
                        }, duration || 2000);
                        if ($message)
                            $message.remove();
                        $message = $('<div ></div>').html(msg).css({
                            margin: 0,
                            padding: 10,
                            background: "#000",
                            opacity: 0.7,
                            position: "fixed",
                            top: 10,
                            right: 10,
                            fontFamily: 'Tahoma',
                            color: '#fff',
                            fontSize: 12,
                            borderRadius: 12,
                            width: 'auto',
                            height: 'auto',
                            textAlign: 'center',
                            textDecoration: 'none'
                        }).hide().fadeIn().appendTo('body');
                    }
                };
            })(jQuery);  
            
        </script>