
<!--create Service heading starts here-->
<div class="row sub_header_bar">
	<div class="col-sm-2">
		<p class="service_heading_text">Services</p>
		<div class="">
			<span class="service_subheading">Services</span> <span><img
				src="service/images/icnarrow.png" /></span> <span class="create_service">Add
				Service</span>
		</div>
	</div>
	<div class="col-sm-10">
		<img src="service/images/icnsave.png" class="save_icn" onclick="saveService();" />
	</div>
</div>
<!--create Service heading ends here-->



<!-- main content of service starts here -->
<form>
	<div class="basic_info_BG">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<p class="basic_info">Basic Information</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<p class="num_services">6</p>
				<p class="num_service_txt">Number of services</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="row">
					<label for="inputdefault" class="service_name_txt">Name of
						Service</label>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
						style="margin: 7px;">
						<input type="text" id="serviceName" name="serviceName"
							class="form-control input-lg service_name_inputbox"
							placeholder="Service Name" /> <label class="container_check"
							id="eye"><span>Auto Generate</span> <input
							type="checkbox"
							onclick="if(reg_password.type=='text')reg_password.type='password'; else reg_password.type='text';" /><span
							class="checkmark"></span> </label>
					</div>
				</div>

				<div class="row" style="margin: 0%;">
					<div class="form-group service_category_BG">
						<label for="sel1" class="service_category">Service
							Category</label> <select class="form-control service_categoryDropdown"
							id="categoryId">
							<option>Choose Category</option>
							<option>Lorem Ipsum</option>
							<option>Lorem Ipsum</option>
							<option>Lorem Ipsum</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<label for="comment" class="service_description">Description</label>
				<textarea class="form-control service_desc_txtarea" rows="5"
					id="serviceOfferingDescription"></textarea>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="row" style="margin: 0%;">
					<div class="form-group service_category_BG">
						<label for="sel1" class="service_category">Service
							Experience</label> <select
							class="form-control service_experienceDropdown"
							id="experienceInMonths">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="row" style="margin: 0%;">
					<div class="form-group service_category_BG">
						<label for="sel1" class="service_category">Rate</label> <select
							class="form-control service_rateDropdown"
							id="serviceBillingRatePerHour">
							<option>500</option>
							<option>500</option>
							<option>500</option>
							<option>500</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="clear-line-sm"></div>
	</div>
	<div class="clear-line-sm"></div>
	<div class="basic_info_BG">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<p class="contact_detail">Contact Details</p>
		</div>
		<div class="clear-line-xsm"></div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p class="name">Name</p>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="text" class="form-control Firstname"
							placeholder="First name" id="providerFirstName">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="text" class="form-control Lastname"
							placeholder="Last name" id="providerLastName">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p class="name">Contact Number</p>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="text" class="form-control contact_num"
							placeholder="Number" id="providerContact_Number">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="text" class="form-control Alt_contact_num"
							placeholder="Alternative Number"
							id="providerAlternativeContactNumber">
					</div>
				</div>
			</div>
		</div>
		<div class="clear-line-xsm"></div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="form-group">
					<label for="home_address" class="home_address">Home Address</label>
					<textarea class="form-control home_address_txtArea" rows="4"
						id="providerHomeAddress"></textarea>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="form-group">
					<label for="home_address" class="home_address">Work Address</label>
					<textarea class="form-control work_address_txtArea" rows="4"
						id="providerWorkAddress"></textarea>
				</div>
			</div>
		</div>
		<div class="clear-line-xsm"></div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="form-group">
					<label for="email" class="serviceEmail_address">Email</label> <input
						type="email" class="form-control Serviceemail_textbox"
						id="providerEmail">
				</div>
				<div class="form-group">
					<p class="document_verificationTxt">ID Verification Document</p>
					<div class="input-group input-file upload_document_parent"
						name="Fichier1">
						<input type="text" id="providerIdProof"
							class="form-control file_inputbox" placeholder="Upload Document" />
						<span class="input-group-btn">
							<button class="btn btn-default btn-choose upload_Btn"
								type="button">Upload</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="row">
					<p class="photo">Photo</p>
					<div class="imageupload image_upload_BG panel panel-default">
						<div class="file-tab panel-body" style="height: 147px;">
							<label class="btn btn-default btn-file"> <span>Select</span>
								<!-- The file is stored here. --> <input type="file"
								name="providerPhoto" id="providerPhoto">
							</label>

						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

</form>
<!-- main content of service ends here -->
<div class="clear-line-sm"></div>