<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Appointments List</h4>
                    <!-- <p class="category">Recently book for appointment</p> -->
                    <button class="category btn btn-default btn-sm addbtn" data-toggle="modal" data-target="#addAppo">Add</button>

                </div>
                <div style="padding: 2%">
                    <input type="text" placeholder="Search By Mobile" style="width: 100%; margin: 0px !important">
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary headerdata">
                        </thead>
                        <tbody class="rowdata">
                            <!-- tr>
								<td>1</td>
								<td>20-05-17</td>
								<td>medi123</td>
								<td>Chitranjan</td>
								<td>Sharma</td>
								<td>Bangalore</td>
								<td>9008340648</td>
								<td>Blood test</td>
								<td>Dr. Agarwal</td>
								<td><button class="btn-primary" data-toggle="modal"
										data-target="#appoEditModal" title="Edit Appointment">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn-primary" data-toggle="modal"
										data-target="#appoPrinttModal" title="Generat Bill">
										<i class="fa fa-print"></i>
									</button>
									<button class="btn-primary" title="Cancel Appointment">
										<i class="fa fa-times"></i>
									</button></td>

							</tr-->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="appoEditModal" role="dialog" style="width: initial; margin: auto; overflow-x: hidden; overflow-y: hidden;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="padding: 13px 10px;">
            <div class="modal-header" style="background-color: #2a6294;">
                <button style="background-color: white;" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white; padding-bottom: 2%; text-align: center">Appointment
					Update</h4>
            </div>
            <div class="modal-body" style="text-align: center;">

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Date</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Booking Id</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">First Name</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Last Name</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Place</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Contact No</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Services</label>
                        <div class="col-md-9 col-sm-6">
                            <select class="form-control">
                                <option value="male">Blood Test</option>
                                <option value="female">X-ray</option>
                                <option value="female">ECG</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Doctor Name
                        </label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal" style="width: 100%">Update</button>
            </div>
        </div>

    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addAppo" role="dialog" style="width: initial; margin: auto; overflow-x: hidden; overflow-y: hidden;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="padding: 13px 10px;">
            <div class="modal-header" style="background-color: #2a6294;">
                <button style="background-color: white;" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white; padding-bottom: 2%; text-align: center">New
					Appointment</h4>
            </div>
            <div class="modal-body" style="text-align: center;">

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Date</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Booking Id</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">First Name</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Last Name</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Place</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Contact No</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Services</label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-12 control-label">Doctor Name
                        </label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- print Modal -->
<div class="modal fade" id="appoPrinttModal" role="dialog" style="width: initial; margin: auto;">
    <div class="modal-dialog" style="width: 80%; margin-top: 0px !important">

        <!-- Modal content-->
        <div class="modal-content" style="padding: 13px 10px;">
            <div class="modal-header" style="background-color:#8c36a0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;padding-bottom:2%;text-align:center">Appointment Update</h4>
            </div>
            <div class="modal-body" style="text-align: center; background-image: url(img/logo.png) !important;">
                <div class="row">
                    <div class="col-md-6">
                        <img src="img/logo.png" />
                    </div>
                    <div class="col-md-6">
                        <h6>27/97-C6,C7, FCC Building, Near Fedeeral bank</h6>
                        <h6>Tower</h6>
                        <h6>Mavoor Road, Calicut - 16</h6>
                        <h6>Phone : 04952740606</h6>
                        <h6>E-mail : home@medicarediagnostics.in</h6>
                        <h6>Website : www.medicarediagnostics.in</h6>

                    </div>
                </div>
                <div class="row" style="border-bottom: 1px dotted; border-top: 1px dotted;">
                    <div class="col-md-4">
                        <h5>BILL</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>CASH BILL</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>No:01234</h5>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px dotted; background: silver">
                    <div class="col-md-4">
                        <h5>Patient: Chitranjan Sharma</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Bill Date:20/05/2017</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Time:02:48 PM</h5>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid;">
                    <div class="col-md-2">
                        <h5>S.No</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Particulars</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Rate</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Qty</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Amount</h5>
                    </div>

                </div>
                <div class="row" style="border-bottom: 1px solid;">
                    <div class="col-md-2">
                        <h5>1</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>USG Abdomen</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>1350</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>1</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>1350</h5>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-4" style="border-bottom: 1px solid;">
                        <h5 style="text-align: left">Total:</h5>
                    </div>

                    <div class="col-md-2" style="border-bottom: 1px solid;">
                        <h5>1350</h5>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid;">
                    <div class="col-md-6"></div>
                    <div class="col-md-4">
                        <h5 style="text-align: left">Net Amount(Payable):</h5>
                    </div>

                    <div class="col-md-2">
                        <h5>1350</h5>
                    </div>

                </div>

            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Generate Bill
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var container = "content";
    var urlPerfix = "http://localhost:9900";
    url = urlPerfix + "/appointment/all";
    var jsonData = getJSON(url);
    //alert("Ready..");
    $(document).ready(function() {

    });

    function getJSON(url) {

        $.ajax({
            url: url,
            type: "GET",
            crossDomain: true,
            timeout: 50000,
            success: function(response) {

                populateData(response);
                initClickEvent();
            },
            error: function(xhr, status, error) {}
        });

    }

    function initClickEvent() {
        $(".delbtn").click(function() {
            alert("deleting...");
            var idStr = $(this).attr("id");
            var id = idStr.split('_')[1];
            url = urlPerfix + "/appointment/" + id;
            alert(url);
            $.ajax({
                url: url,
                type: "DELETE",
                crossDomain: true,
                timeout: 50000,
                success: function(response) {},
                error: function(xhr, status, error) {}
            });
        });
        
        $(".addbtn").click(function() {
            alert("Adding...");
           
        });
        
        $(".editbtn").click(function() {
            alert("Updating...");
           
        });
        
        $(".printbtn").click(function() {
            alert("Printing...");
           
        });



    }

  
    function populateData(response) {
        var headerdataStr = "";
        headerdataStr = headerdataStr + "<th>Booking</th>" + "<th>Date</th>" + "<th>Name</th>" + "<th>Contact</th>" + "<th>Place</th>" + "<th>Services</th>" + "<th>Ref. Doctor</th>" + "<th>Cancled</th>" + "<th>Token</th>" + "<th>Action</th>";

        $('.headerdata').html(headerdataStr);

        var rowDataStr = "";
        for (i = 0; i < response.length; i++) {
            //alert(response[i].id);

            rowDataStr = rowDataStr + "<tr id='row_" + response[i].id + "'>" + "<td id='id_" + response[i].id + "'>" + response[i].id + "</td>" + "<td id='booking_" + response[i].id + "'>" + response[i].bookingDateTime + "</td>" + "<td id='name_" + response[i].id + "'>" + response[i].name + "</td>" + "<td id='contact_" + response[i].id + "'>" + response[i].contactNo + "</td>" + "<td id='address_" + response[i].id + "'>" + response[i].address + "</td>" + "<td id='service_" + response[i].id + "'>" + response[i].serviceType + "</td>" + "<td id='refdoc_" + response[i].id + "'>" + response[i].refdoc + "</td>" + "<td id='isconceled_" + response[i].id + "'>" + response[i].cancled + "</td>" + "<td id='token_" + response[i].id + "'>" + response[i].id + "</td>" + "<td>"

            + "<button id='editbtn_" + response[i].id + "' class='btn-primary editbtn' data-toggle='modal'" + "data-target='#appoEditModal' title='Edit Appointment'>" + "<i class='fa fa-pencil'></i>" + "</button>"

            + "<button id='printbtn_" + response[i].id + "' class='btn-primary printbtn' data-toggle='modal' data-target='#appoPrinttModal' title='Generat Bill'>" + "<i class='fa fa-print'></i>" + "</button>"

            + "<button id='delbtn_" + response[i].id + "' class='btn-primary delbtn' title='Cancel Appointment'>" + "<i class='fa fa-times'></i>" + "</button></td>"

            + "</tr>";
        }
        $('.rowdata').html(rowDataStr);

    }
</script>