<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Appointments List</h4>
					<!-- <p class="category">Recently book for appointment</p> -->
					<button class="category btn btn-default btn-sm "
						data-toggle="modal" data-target="#addAppo">Add</button>

				</div>
				<div style="padding: 2%">
					<input type="text" placeholder="Search By Mobile"
						style="width: 100%; margin: 0px !important">
				</div>
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<thead class="text-primary headerdata">
						</thead>
						<tbody class="rowdata">
							<!-- tr>
								<td>1</td>
								<td>20-05-17</td>
								<td>medi123</td>
								<td>Chitranjan</td>
								<td>Sharma</td>
								<td>Bangalore</td>
								<td>9008340648</td>
								<td>Blood test</td>
								<td>Dr. Agarwal</td>
								<td><button class="btn-primary" data-toggle="modal"
										data-target="#appoEditModal" title="Edit Appointment">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn-primary" data-toggle="modal"
										data-target="#appoPrinttModal" title="Generat Bill">
										<i class="fa fa-print"></i>
									</button>
									<button class="btn-primary" title="Cancel Appointment">
										<i class="fa fa-times"></i>
									</button></td>

							</tr-->

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var container = "content";
	var urlPerfix = "http://localhost:9900";
	url = urlPerfix + "/appointment/all";
	var jsonData = getJSON(url);

	function getJSON(url) {

		$.ajax({
			url : url,
			type : "GET",
			crossDomain : true,
			timeout : 50000,
			success : function(response) {

				populateData(response);
				initClickEvent();
			},
			error : function(xhr, status, error) {
			}
		});

	}

	function initClickEvent() {
		$(".delbtn").click(function() {
			alert("deleting...");
			var idStr = $(this).attr("id");
			var id = idStr.split('_')[1];
			url = urlPerfix + "/appointment/" + id;
			alert(url);
			$.ajax({
				url : url,
				type : "DELETE",
				crossDomain : true,
				timeout : 50000,
				success : function(response) {
				},
				error : function(xhr, status, error) {
				}
			});
		});

		$(".add-appointment-btn").click(function() {
			//alert("Adding...");
			
			var name = $("#add-appointment-name").val();
			var age = $("#add-appointment-age").val();
			var address = $("#add-appointment-address").val();
			var contactNo = $("#add-appointment-contactNo").val();
			var gender = $("#add-appointment-gender").val();
			var refdoc = $("#add-appointment-refdoc").val();
			var serviceType = $("#add-appointment-serviceType").val();
			
			
			var jsondata = {};
			jsondata["id"]= 6;
			jsondata["name"]= name;
			jsondata["age"]= age;
			jsondata["address"]= address;
			jsondata["contactNo"]= contactNo;
			jsondata["gender"]= gender;
			jsondata["refdoc"]= refdoc;
			jsondata["serviceType"]= serviceType;
						
			var urlPerfix = "http://localhost:9900";
			url = urlPerfix + "/appointment/add";
			//alert(JSON.stringify(jsondata));
			callAjaxPostJSON(url, "POST", "", jsondata);
			clearForm();
		});

		$(".editbtn").click(function() {
			var id = $(this).attr("id").split('_')[1];
			
			
			var name = $("#name_"+id).text();
			alert(name);
			alert(id);
			$("#edit-appointment-id").val(id);	
			$("#edit-appointment-name").val(name);		

		});
		
		$(".save-update-btn").click(function() {
			
			var id = $("#edit-appointment-id").val();
			var name = $("#edit-appointment-name").val();	
			// Do the same for all
			alert("Updating : "+name);
			
			var jsondata = {};
			jsondata["id"]= id;
			jsondata["name"]= name;
						
			var urlPerfix = "http://localhost:9900";
			url = urlPerfix + "/appointment/"+id;
			alert(JSON.stringify(url));
			callAjaxPostJSON(url, "PUT", "", jsondata);
			clearForm();
			
		});
			
			
		$(".printbtn").click(function() {
			alert("Printing...");
			//To be done

		});

	}
	
	function clearForm(){
		
		$(".form-control").val("");
	}
	
	function callAjaxPostJSON(urlMapping, callType, container, data) {

		$
				.ajax({
					type : callType,
					contentType : "application/json",
					url : urlMapping,
					data : JSON.stringify(data),
					crossDomain : true,
					dataType : 'json',
					timeout : 100000,
					success : function(response) {
						console.log("SUCCESS: ", data);
						if(!data.error) location.reload(true);
						//window.location.reload();
					},
					error : function(xhr, status, error) {
						console.log("ERROR: ", error);
					/*	var ajaxError = "<div class='box-header well' style='border-radius: 0px;'>"
								+ "<h2>Resource Unavailable</h2>"
								+ "</div> <div class='box-content'>"
								+ "<h2> <i class='fa fa-exclamation-triangle fa-3x'></i>Please contact System Admin! </h2></div> ";
						$('.' + container).html(ajaxError);
					*/
					},
					done : function(e) {
						console.log("DONE");
					}
				});

	}

	function populateData(response) {
		var headerdataStr = "";
		headerdataStr = headerdataStr + "<th>Booking</th>" + "<th>Date</th>"
				+ "<th>Name</th>" + "<th>Contact</th>" + "<th>Place</th>"
				+ "<th>Services</th>" + "<th>Ref. Doctor</th>"
				+ "<th>Cancled</th>" + "<th>Token</th>" + "<th>Action</th>";

		$('.headerdata').html(headerdataStr);

		var rowDataStr = "";
		for (i = 0; i < response.length; i++) {
			//alert(response[i].id);

			rowDataStr = rowDataStr
					+ "<tr id='row_" + response[i].id + "'>"
					+ "<td id='id_" + response[i].id + "'>"
					+ response[i].id
					+ "</td>"
					+ "<td id='booking_" + response[i].id + "'>"
					+ response[i].bookingDateTime
					+ "</td>"
					+ "<td id='name_" + response[i].id + "'>"
					+ response[i].name
					+ "</td>"
					+ "<td id='contact_" + response[i].id + "'>"
					+ response[i].contactNo
					+ "</td>"
					+ "<td id='address_" + response[i].id + "'>"
					+ response[i].address
					+ "</td>"
					+ "<td id='service_" + response[i].id + "'>"
					+ response[i].serviceType
					+ "</td>"
					+ "<td id='refdoc_" + response[i].id + "'>"
					+ response[i].refdoc
					+ "</td>"
					+ "<td id='isconceled_" + response[i].id + "'>"
					+ response[i].cancled
					+ "</td>"
					+ "<td id='token_" + response[i].id + "'>"
					+ response[i].id
					+ "</td>"
					+ "<td>"

					+ "<button id='editbtn_" + response[i].id + "' class='btn-primary editbtn' data-toggle='modal'" + "data-target='#appoEditModal' title='Edit Appointment'>"
					+ "<i class='fa fa-pencil'></i>"
					+ "</button>"

					+ "<button id='printbtn_" + response[i].id + "' class='btn-primary printbtn' data-toggle='modal' data-target='#appoPrinttModal' title='Generat Bill'>"
					+ "<i class='fa fa-print'></i>"
					+ "</button>"

					+ "<button id='delbtn_" + response[i].id + "' class='btn-primary delbtn' title='Cancel Appointment'>"
					+ "<i class='fa fa-times'></i>" + "</button></td>"

					+ "</tr>";
		}
		$('.rowdata').html(rowDataStr);

	}
</script>