<div id="checkout" class="container" ng-init="init()" style="font-size: 14px;">

	<div class="row marginTop">
		<div class="col-md-6 col-xs-12">
			<div class="cardsWrapper" style="padding-left:0px">
				
				<div class="brandCard" ng-show="appVariables.quantity.loc&gt;0">
					<div style="height: 35px;position: relative;padding: 4px;">
						<i ng-click="checkoutEmptyQ('loc')" style="position: absolute;right: 5px;top: 5px;cursor:pointer;" class="fa fa-times" aria-hidden="true"></i>
						<span>Daily Special</span>
					</div>
					<hr>
					<div style="margin-top: 15px;">
						<div>
							<span>Quantity:</span>
							<span>
								<div class="cardQuantityWidth">
									<button type="button" class="btn btn-primary" ng-click="decreaseQ('loc')">
										<i class="fa fa-minus" aria-hidden="true"></i>
									</button>
									<span style="padding: 1px 6px;vertical-align: middle;" ng-bind="appVariables.quantity.loc"></span>
									<button type="button" class="btn btn-primary" ng-click="increaseQ('loc')">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</button>								
								</div>
							</span>
						</div>
						
						<div style="margin-top:8px;">
							<span>Price:</span>
							<span style="padding: 1px 6px;margin-left: 5px;" ng-bind="appVariables.amount.loc"></span>
						</div>
						
					</div>
				</div>
				<div class="brandCard" ng-show="appVariables.quantity.liq&gt;0">
					<div style="height: 35px;position: relative;padding: 4px;">
						<i ng-click="checkoutEmptyQ('liq')" style="position: absolute;right: 5px;top: 5px;cursor:pointer;" class="fa fa-times" aria-hidden="true"></i>
						<span>Liqua</span>
					</div>
					<hr>
					<div style="margin-top: 15px;">
						<div>
							<span>Quantity:</span>
							<span>
								<div class="cardQuantityWidth">
									<button type="button" class="btn btn-primary" ng-click="decreaseQ('liq')">
										<i class="fa fa-minus" aria-hidden="true"></i>
									</button>
									<span style="padding: 1px 6px;vertical-align: middle;" ng-bind="appVariables.quantity.liq"></span>
									<button type="button" class="btn btn-primary" ng-click="increaseQ('liq')">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</button>								
								</div>
							</span>
						</div>
						
						<div style="margin-top:8px;">
							<span>Price:</span>
							<span style="padding: 1px 6px;margin-left: 5px;" ng-bind="appVariables.amount.liq"></span>
						</div>
						
					</div>
				</div>
				<div class="brandCard" ng-show="appVariables.quantity.bis&gt;0">
					<div style="height: 35px;position: relative;padding: 4px;">
						<i ng-click="checkoutEmptyQ('bis')" style="position: absolute;right: 5px;top: 5px;cursor:pointer;" class="fa fa-times" aria-hidden="true"></i>
						<span>Bisleri</span>
					</div>
					<hr>
					<div style="margin-top: 15px;">
						<div>
							<span>Quantity:</span>
							<span>
								<div class="cardQuantityWidth">
									<button type="button" class="btn btn-primary" ng-click="decreaseQ('bis')">
										<i class="fa fa-minus" aria-hidden="true"></i>
									</button>
									<span style="padding: 1px 6px;vertical-align: middle;" ng-bind="appVariables.quantity.bis"></span>
									<button type="button" class="btn btn-primary" ng-click="increaseQ('bis')">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</button>								
								</div>
							</span>
						</div>
						
						<div style="margin-top:8px;">
							<span>Price:</span><span style="padding: 1px 6px;margin-left: 5px;" ng-bind="appVariables.amount.bis"></span>
						</div>
							
					</div>
				</div>
				<div class="brandCard" ng-show="appVariables.quantity.kin&gt;0">
				<div style="height: 35px;position: relative;padding: 4px;">
						<i ng-click="checkoutEmptyQ('kin')" style="position: absolute;right: 5px;top: 5px;cursor:pointer;" class="fa fa-times" aria-hidden="true"></i>
						<span>Kinley</span>
					</div>
					<hr>
					<div class="pricemargine" style="margin-top: 15px;">
						<div>
							<span>Quantity:</span>
							<span>
								<div class="cardQuantityWidth">
										<button type="button" class="btn btn-primary" ng-click="decreaseQ('kin')">
											<i class="fa fa-minus" aria-hidden="true"></i>
										</button>
										<span style="padding: 1px 6px;vertical-align: middle;" ng-bind="appVariables.quantity.kin"></span>
										<button type="button" class="btn btn-primary" ng-click="increaseQ('kin')">
											<i class="fa fa-plus" aria-hidden="true"></i>
										</button>								
									</div>
							</span>
						</div>
						<div style="margin-top:8px;">
							<span>Price:</span><span style="padding: 1px 6px;margin-left: 5px;" ng-bind="appVariables.amount.kin"></span>
						</div>
							
					</div>
			</div>
			</div>
			<div class="address" style="margin-top: 10px;padding-right:56px">
				<div><b>Enter the delivery address.</b> (We store the address for your future orders)</div>
				<div class="form-group">
				  <textarea style="border-radius: 0px;" ng-class="{'errorClass':appVariables.mandatoryChecks.address}" ng-model="appVariables.address" class="form-control" rows="5" id="comment"></textarea>
				</div>
			</div>
		</div>
		
		<div class="col-md-6 col-xs-12">
			<div>
				<div><b>Select your convenient date and time for delivery.</b></div>
				<div class="slotWrapper">
					<div style="cursor:pointer;" class="calendarWrapper">
						<i ng-click="toggleCalendar()" id="calendarFont" class="fa fa-calendar" aria-hidden="true"></i><input disabled="" ng-model="appVariables.date" class="form-control inputdimension" id="dateInput" type="text">
						<div id="calendarDiv"> <date-picker ng-mouseleave="toggleCalendar()" ng-model="appVariables.date" ng-if="appVariables.showCalendar"></date-picker> </div>
					</div>
					
					<div class="slotSelectWrapper">
						<select class="form-control inputdimension" id="sel1" ng-model="appVariables.slot">
								<option ng-repeat="row in appVariables.slotData">{{row.slotName}}</option>						
						</select>
					</div>
					
				</div>
			</div>
			<div style="margin-top: 15px;">
			
			<div style="margin-top: 30px;"><span class="switchLabelClass">Do you have empty cans to return </span>
				<div class="switchDivClass">
					<switch ng-change="emptyCanSwitchChange()" name="appVariables.switchValue" ng-model="appVariables.switchValue" on="Yes" off="No" class="wide"></switch>
				</div>
			</div>
			<div style="margin-top:10px;"><b>Note: </b>A refundable deposit of <b>Rs.150</b> is applicable in the absence of empty cans. </div>
					<table class="table" style="margin-top:30px;">
	<tbody>
 	  <tr>
		<td><b>Price Details</b></td>
		
	  </tr>
	
	  
	
      
    </tbody>
    <tbody>
	<tr>
        <td>Total Amount</td>
		<td class="priceDetails">{{appVariables.Totalamount1}}<i class="fa fa-inr" aria-hidden="true" style="margin-left: 4px;"></i></td>
      </tr>
	  <tr ng-if="appVariables.codeApplied">
		<td>Promocode Discount</td>
		<td class="priceDetails">{{appVariables.quantity.loc * 4}}.00<i class="fa fa-inr" aria-hidden="true" style="margin-left: 4px;"></i></td>
	  </tr>
	  <tr ng-if="!appVariables.codeApplied">
		<td>Promocode Discount</td>
		<td class="priceDetails">0.00<i class="fa fa-inr" aria-hidden="true" style="margin-left: 4px;"></i></td>
	  </tr>
	  <tr>
		<td>Referral Discount</td>
		<td class="priceDetails">{{appVariables.showMoney}}<i class="fa fa-inr" aria-hidden="true" style="margin-left: 4px;"></i></td>
		</tr>
	  <tr>
		<td>Delivery</td>
		<td class="priceDetails">Free</td>
	  </tr>
	 
   
    </tbody><tbody>
      
     
     
      
    </tbody>
 	  <tbody><tr>
		<td><b>Total Payable Amount</b>
		</td><td class="priceDetails">{{appVariables.finalAmount}}<i class="fa fa-inr" aria-hidden="true" style="margin-left: 4px;"></i></td>
	  </tr>
	  
	
      
    </tbody>
	
  </table>
  
		</div>
		<div>
			<button ng-if="submitOrderButton" type="button" class="btn btn-success inputdimension orderNowBtn" ng-click="submitBilling()">Order Now</button>
			<img src="assets/img/spinner.gif" style="background-color:transparent;width:auto;margin-right:75px;" class="orderNowBtn" ng-if="!submitOrderButton">
			
		</div>
	</div>

</div>
</div>