<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header" data-background-color="orange">
					<i class="material-icons">contacts</i>
				</div>
				<div class="card-content">
					<p class="category">Number of Doctors</p>
					<h3 class="title">20</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header" data-background-color="green">
					<i class="material-icons">assessment</i>
				</div>
				<div class="card-content">
					<p class="category">Total Appointments</p>
					<h3 class="title">200</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header" data-background-color="orange">
					<i class="material-icons">business</i>
				</div>
				<div class="card-content">
					<p class="category">Number of Services</p>
					<h3 class="title">15</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header" data-background-color="green">
					<i class="material-icons">assessment</i>
				</div>
				<div class="card-content">
					<p class="category">Total Cancel Appointments</p>
					<h3 class="title">12</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header" data-background-color="orange">
					<i class="material-icons">contacts</i>
				</div>
				<div class="card-content">
					<p class="category">Number of Users</p>
					<h3 class="title">03</h3>
				</div>
			</div>
		</div>
	</div>
</div>