<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Medicare - New Appointment</title>
<link rel="icon" type="image/png" href="img/favicon.png" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link href="css/jquery.datetimepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="css/formValidation.min.css">
<link rel="stylesheet" href="css/daterangepicker.css">
<link rel="stylesheet" href="css/bootstrap-multiselect.css">

<!--   Core JS Files   -->
<script src="js/jquery-3.1.0.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/formValidation.min.js" type="text/javascript"></script>
<script src="js/framework/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.form.min.js" type="text/javascript"></script>
<script src="js/jquery.datetimepicker.min.js"></script>
<script src="js/jquery.datetimepicker.full.min.js"></script>
<script src="js/demo.js"></script>
<script src="js/medicare.js" type="text/javascript"></script>
<script src="js/validation.js" type="text/javascript"></script>
<script src="js/moment.js" type="text/javascript"></script>
<script src="js/daterangepicker.js" type="text/javascript"></script>
<script src="js/bootstrap-multiselect.js" type="text/javascript"></script>


<style type="text/css">
.form-reg {
	background-color: #eee;
	border: 3px dotted rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	max-width: 420px;
	padding: 30px 38px 66px;
}

.form-reg-heading {
	margin-bottom: 30px;
	text-align: center;
}

body {
	color: grey;
	font-family: sans-serif;
}

.btn-group, .btn-group-vertical {
	width: 540px !important;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #080808;
}

.form-control-feedback {
	position: absolute;
	top: 0;
	right: 30px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}
</style>
</head>
<body style="background: #f0f8ff;">



	<div>
		<nav class="navbar navbar-inverse"
			style="background-color: #337ab7; border-color: #337ab7;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Medicare Diganostic</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">New Appointment</a></li>
					<li><a href="home">Dashboard</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Help</a></li>
				</ul>

				<ul class="nav navbar-nav" style="float: right">
					<li style="border: 0px solid #fff;"><a href="home">Home</a></li>
				</ul>
			</div>
		</nav>
		<div class="logo" style="text-align: center; display: block">
			<a href="#"><img src="img/lg.png" class="img-responsive"
				style="margin-left: auto; margin-right: auto" /></a>
		</div>


	</div>
	<form name="newAppointment" id="newAppointmentform">
		<div class="container ">
			<div class="row">
				<div class="col-md-12 ">
					<h2 class="form-reg-heading"
						style="color: #337ab7; font-weight: 800;">New Appointment</h2>

					<div class="form-group">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<input class="form-control new_appointment_firstName"
								name="new_appointment_firstName" type="text"
								placeholder="Enter Patient Name">
						</div>
					</div>

					<div class="form-group">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<input class="form-control pname new_appointment_lastName"
								name="new_appointment_lastName" type="text"
								placeholder="Enter Patient Last Name">
						</div>
					</div>

					<div class="form-group" style="">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<select id="boot-multiselect-demo"
								name="new_appointment_serviceTypeId"
								class="new_appointment_serviceTypeId  form-control"
								multiple="multiple">

							</select>
						</div>
					</div>

					<div class="form-group">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<input class="form-control new_appointment_age"
								name="new_appointment_age" type="text"
								placeholder="Enter patient Age">
						</div>
					</div>

					<div class="form-group">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<input class="form-control new_appointment_contact" type="text"
								placeholder="Enter Patient Mobile Number" name="pcontact">
						</div>
					</div>

					<div class="form-group">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<input class="form-control new_appointment_address"
								name="new_appointment_address" type="text"
								placeholder="Enter Patient Address">
						</div>
					</div>

					<div class="form-group">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">

							<select class="form-control new_appointment_gender"
								style="color: #555" name="new_appointment_gender">
								<option value="M">MALE</option>
								<option value="F">FEMALE</option>

							</select>
						</div>
					</div>

					<div class="form-group">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<input class="form-control new_appointment_email"
								name="new_appointment_email" type="text"
								placeholder="Enter Patient Email">
						</div>
					</div>


					<div class="form-group">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">

							<input type='text' placeholder="Select date"
								class="form-control new_appointment_dateTime"
								data-format="yyyy/MM/dd hh:mm:ss"
								name="new_appointment_dateTime" id='datetimepicker2' />
						</div>
					</div>

					<div class="form-group">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<select class="form-control new_appointment_slot"
								style="color: #555" name="new_appointment_slot">
								<option value="1">Slot 1 - 09 AM - 11 AM</option>
								<option value="2">Slot 2 - 12 AM - 02 PM</option>
								<option value="3">Slot 3 - 03 PM - 05 PM</option>
								<option value="4">Slot 4 - 06 PM - 08 PM</option>

							</select>

						</div>
					</div>

					<div class="form-group">

						<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">

							<select class="form-control new_appointment_referredByDoctorId"
								name="new_appointment_referredByDoctorId">

							</select>
						</div>
					</div>

				</div>

			</div>
			<div class="form-group col-md-offset-4" style="margin-top: 30px;">
				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
			</div>
		</div>
	</form>
	<script th:inline="javascript">
        /*<![CDATA[*/   

		
		var port = [[${port}]];
		var host = [[${host}]];    
		    
		var loggedInUserId = [[${loggedInUserId}]];
		
		  /*]]>*/
	    </script>

	<script type="text/javascript">
	

		var baseUrl = "http://" + host + ":" + port + "/medicare";
		
		$(document).ready(function() {
			populateServiceMultiSelect();
			populateDoctorSelect();
		});

		$(function() {
			$('#datetimepicker2').datetimepicker();
		});

		function populateSelect() {
			var container = "";
			var forAttribute = "";
			var forentity = "roles";
			var urlPerfix = baseUrl;
			url = urlPerfix + "/" + forentity + "/";

			$.ajax({
				url : url,
				type : "GET",
				crossDomain : true,
				timeout : 50000,
				success : function(response) {
					var optStr = "";
					for (i = 0; i < response.length; i++) {
						optStr = optStr
								+ '<option  value="'+response[i].id+'">'
								+ response[i].role + '</option>';
					}
					//	$('#add_user_role').html(optStr);
					//	$('#edit_user_role').html(optStr);				
				},
				error : function(xhr, status, error) {
				}
			});

		}

		function populateDoctorSelect() {
			var container = "";
			var forAttribute = "";
			var forentity = "doctors";
			var urlPerfix = baseUrl;
			url = urlPerfix + "/" + forentity + "/";

			$.ajax({
				url : url,
				type : "GET",
				crossDomain : true,
				timeout : 50000,
				success : function(response) {
					//alert(JSON.stringify(response));
					var optStr = "";
					for (i = 0; i < response.length; i++) {
						optStr = optStr
								+ '<option  value="'+response[i].id+'">'
								+ response[i].name + '</option>';
					}

					$('.new_appointment_referredByDoctorId').html(optStr);
				},
				error : function(xhr, status, error) {
				}
			});

		}

		function populateServiceMultiSelect() {
			//container, forEntity, forAttribute		
			var container = "";
			var forAttribute = "";
			var forentity = "services";
			var urlPerfix = baseUrl;
			url = urlPerfix + "/" + forentity + "/";

			$.ajax({
				url : url,
				type : "GET",
				crossDomain : true,
				timeout : 50000,
				success : function(response) {
					//alert(JSON.stringify(response));
					var optStr = "";
					for (i = 0; i < response.length; i++) {
						optStr = optStr
								+ '<option  value="'+response[i].id+'">'
								+ response[i].name + '</option>';
					}
					$('#boot-multiselect-demo').html(optStr);
					$('#boot-multiselect-demo').multiselect({
						includeSelectAllOption : true,
						buttonWidth : 250,
						enableFiltering : true
					});
				},
				error : function(xhr, status, error) {
				}
			});
		}
		
		$('#newAppointmentform').formValidation({
			framework : 'bootstrap',
			excluded : ':disabled',
			icon : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			fields : {
				new_appointment_firstName : {
					validators : {
						notEmpty : {
							message : 'Patient First Name is required'
						},
						regexp : {
							regexp : /^[a-zA-Z0-9_\s\.]+$/,
							message : 'Patient First Name is Invalid!'
						}
					}
				},
				new_appointment_lastName : {
					validators : {
						notEmpty : {
							message : 'Patient Last Name is required'
						},
						regexp : {
							regexp : /^[a-zA-Z0-9_\s\.]+$/,
							message : 'Patient Last Name is Invalid'
						}
					}
				},
				
				 new_appointment_serviceTypeId : {
					validators : {
						notEmpty : {
							message : 'Services is required'
						}
					}
				},				

				new_appointment_age : {
					validators : {
						notEmpty : {
							message : 'Age is required'
						},				
						regexp : {
							message : 'Invalid Age',
							regexp : /^\d{2}$/
						}
					}
				},
				pcontact : {
					validators : {
						notEmpty : {
							message : 'Contact is required'
						},
						regexp : {
							message : 'Invalid phone number',
							regexp : /^\d{10}$/
						}
					}
				},
				new_appointment_address : {
					validators : {
						notEmpty : {
							message : 'Address is required'
						}
					}
				},
				new_appointment_gender : {
					validators : {
						notEmpty : {
							message : 'Gender is required'
						}
					}
				},
				new_appointment_email : {
					validators : {
						notEmpty : {
							message : 'Email is required'
						},
						emailAddress : {
							message : 'Not a valid email address'
						}
					}
				},
				new_appointment_dateTime : {
					validators : {
						notEmpty : {
							message : 'Date Time is required'
						}
					}
				},
				new_appointment_slot : {
					validators : {
						notEmpty : {
							message : 'Slot is required'
						}
					}
				},
				new_appointment_referredByDoctorId : {
					validators : {
						notEmpty : {
							message : 'Doctor Name is required'
						}
					}
				}
			}
		}).on(
				'success.form.fv',
				function(e) {

					var firstName = $(".new_appointment_firstName").val();
					var lastName = $(".new_appointment_lastName").val();
					var age = $(".new_appointment_age").val();
					var address = $(".new_appointment_address").val();
					var contactNo = $(".new_appointment_contact").val();
					var gender = $(".new_appointment_gender option:selected").val();
					var email = $(".new_appointment_email").val();
					var referredByDoctorId = $(
							".new_appointment_referredByDoctorId option:selected")
							.val();

					var dateTime = $(".new_appointment_dateTime").val();

					var jsondata = {};

					var user = {};
					var doctor = {};
					var patient = {};

					var allServiceIdVal = $("#boot-multiselect-demo").val();

					jsondata["services"] = allServiceIdVal;

					jsondata["firstName"] = firstName;
					jsondata["lastName"] = lastName;
					jsondata["age"] = age;
					jsondata["address"] = address;
					jsondata["contactNo"] = contactNo;
					jsondata["gender"] = gender;
					jsondata["email"] = email;
					doctor["id"] = referredByDoctorId;

					jsondata["referredByDoctor"] = doctor;
					jsondata["dateTime"] = dateTime;
					jsondata["slot"] = 1;

					user["id"] = loggedInUserId;
					jsondata["createdByUserId"] = user;

					var appointmentAddUrl = baseUrl + "/appointments";

					// alert(appointmentAddUrl);
					// alert(JSON.stringify(jsondata));
					callAjaxPostJSON(appointmentAddUrl, "POST", "", jsondata);
					// clearForm();
					$("#addAppo").modal('hide');
				    location.reload(true);

				});


		function callAjaxPostJSON(urlMapping, callType, container, data) {

			$.ajax({
				type : callType,
				contentType : "application/json",
				url : urlMapping,
				data : JSON.stringify(data),
				crossDomain : true,
				dataType : 'json',
				timeout : 100000,
				success : function(response) {
					console.log("SUCCESS: ", data);
					if (!data.error)
						location.reload(true);
				},
				error : function(xhr, status, error) {
					console.log("ERROR: ", error);
				},
				done : function(e) {
					console.log("DONE");
				}
			});
		}

		
	</script>
</body>
</html>