
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Our Patients</h4>
					<!-- <p class="category">Complete your profile</p> -->
					<button class="category btn btn-deffault btn-sm"
						data-toggle="modal" data-target="#addModal">Add</button>
				</div>

				<div class="card-content table-responsive">
					<table class="table table-hover">
						<thead class="text-primary">

							<th>Name</th>
							<th>Referred Doctor</th>
							<th>Mobile</th>
							<th>Address</th>
							<th>Age</th>
							<th>Gender</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr>

								<td>Chitranjan Sharma</td>
								<!-- <td class="text-danger">Ortho</td> -->
								<td>Dr. Agarwal</td>
								<td>9008340648</td>
								<td>Patna</td>
								<td>25
								</th>
								<td>Male</td>
								<td><button class="btn-primary"
										style="border: transparent; margin: 0.5%" data-toggle="modal"
										data-target="#editModal">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn-primary"
										style="border: transparent; margin: 0.5%">
										<i class="fa fa-times"></i>
									</button></td>


							</tr>
							<tr>

								<td>Kumarswami</td>
								<!-- <td class="text-danger">Ortho</td> -->
								<td>Dr. P Singh</td>
								<td>9887398894</td>
								<td>Bengalure</td>
								<td>34
								</th>
								<td>Male</td>
								<td><button class="btn-primary"
										style="border: transparent; margin: 0.5%" data-toggle="modal"
										data-target="#editModal">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn-primary"
										style="border: transparent; margin: 0.5%">
										<i class="fa fa-times"></i>
									</button></td>


							</tr>



						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
