
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Report List</h4>
					
					
				</div>
				
				<!-- <div style="padding:2%"><input class="form-control"type="text" placeholder="Search...." style="width:100%"></div> -->
				<div class="card-content table-responsive">
					<div class="row" id="reportMenu" style="text-align:center">
						<div class="col-md-4">
						</div>
						<div class="col-md-4 col-sm-12" style="background-color:slver">
							<button class="btn btn-lg" id="reportTitle" style="background:#1183CD;width:100%">Generate Daily Report</button><br/>
							<div id="calendar"></div>
							<button class="btn btn-lg" id="reportTitle" style="background:#1183CD;width:100%">Generate Weekly Report</button><br/>
							<button class="btn btn-lg" id="reportTitle" style="background:#1183CD;width:100%">Generate Monthly Report</button><br/>
							<button class="btn btn-lg" id="reportTitle" style="background:#1183CD;width:100%">Generate Yearly Report</button>
						</div>
						<div class="col-md-4">
						</div>
						
					</div>
					<div class="card-content table-responsive" id="reportTable">
					
					<div class="form-group">
						<label>Choose Date: </label>
						<input type='text' placeholder="select date" id='datetimepicker1' />
		              	<button class="btn btn-primary btn-sm" style="float:right" data-toggle="modal" data-target="#printReport">Print</button>
					</div><hr/>
					<table class="table table-hover">
						<thead class="text-primary">

							<th>S.No</th>
							<th>Service</th>
							<th>Price</th>
							<th>Patients</th>
							<th>Amount</th>
							<th>Ref. Doctors</th>
							<th>Commission</th>
							<th>Total Amount</th>
							<!-- <th>Action </th> -->
						</thead>
						<tbody>
							<tr>

								<td>1</td>
								<td class="text-danger">KUB</td>
								<td>500</td>
								<td>5</td>
								<td>2500</td>
								<td>5</td>
								<td>1250</td>
								<td>1250</td>

								<!-- <td><button class="btn-primary"
										style="border: transparent; margin: 0.5%" data-toggle="modal"
										data-target="#editService"><i class="fa fa-pencil"></i></button>
									<button class="btn-primary"
										style="border: transparent; margin: 0.5%"
										title="Cancel Appointment"><i class="fa fa-trash"></i></button></td>
 -->
							</tr>
							<tr>

								<td>2</td>
								<td class="text-danger">Anomaly</td>
								<td>1200</td>
								<td>10</td>
								<td>12000</td>
								<td>8</td>
								<td>4800</td>
								<td>7200</td>

							</tr>
						</tbody>
					</table>
					<div class="row">
						
					</div>
				</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$("#reportTable").hide();
		$("#reportMenu").show();
		$("#reportTitle").click(function(){
			$("#reportTable").show();
			$("#reportMenu").hide();
		})
		
	})
</script>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                	
                });
            });
        </script>