
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Our Services List</h4>
					<!-- <p class="category">Choose NGO</p> -->
					<button class="category btn btn-default btn-sm" data-toggle="modal"
						data-target="#addService">Add</button>
				</div>
				<!-- <div style="padding:2%"><input class="form-control"type="text" placeholder="Search...." style="width:100%"></div> -->
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<thead class="text-primary">

							<th>S.No</th>
							<th>Services</th>
							<th>Price</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr>

								<td>1</td>
								<!-- <td class="text-danger">Ortho</td> -->
								<td>X-Ray</td>
								<td>₹ 200</td>
								<td><button class="btn-primary"
										style="border: transparent; margin: 0.5%" data-toggle="modal"
										data-target="#editService">Edit</button>
									<button class="btn-primary"
										style="border: transparent; margin: 0.5%"
										title="Cancel Appointment">Delete</button></td>

							</tr>
							<tr>

								<td>2</td>
								<!-- <td class="text-danger">Ortho</td> -->
								<td>ECG</td>
								<td>₹ 1200</td>
								<td><button class="btn-primary"
										style="border: transparent; margin: 0.5%" data-toggle="modal"
										data-target="#editService">Edit</button>
									<button class="btn-primary"
										style="border: transparent; margin: 0.5%"
										title="Cancel Appointment">Delete</button></td>


							</tr>
							<tr>

								<td>3</td>
								<!-- <td class="text-danger">Ortho</td> -->
								<td>Blood Test</td>
								<td>₹ 400</td>
								<td><button class="btn-primary"
										style="border: transparent; margin: 0.5%" data-toggle="modal"
										data-target="#editService">Edit</button>
									<button class="btn-primary"
										style="border: transparent; margin: 0.5%"
										title="Cancel Appointment">Delete</button></td>


							</tr>



						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
