<html><head></head><body><div id="login" class="container login-sec" ng-init="init()">

	<div class="row" style="color:#666;">
	
		<div id="loginGrp" class="col-md-12 loginContainer" style="height:155px;">
			<div style="width: 35% !important;margin: auto;min-width:250px;margin-bottom: 20px;text-align: center;">Refer</div>
			<input ng-model="appVariables.refer.phoneNumber" placeholder="Referrer Mobile Number" style="width: 35% !important;margin: auto;min-width:250px;margin-bottom: 20px;" class="form-control inputdimension" id="loginInput" type="text">
			<button ng-click="sendRefer()" id="otpButton" style=" background-color: #31b0d5; border-color:#31b0d5; width: 35% !important;margin: auto;min-width:250px;display: block;" type="button" class="btn btn-success inputdimension">Submit</button>
			
		</div>
		
		
	
	</div>

</div></body></html>