<br>
<!--Main container-->
<div class="row">
	<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
		<!--Accordion wrapper-->
		<div class="accordion cat-sidebar-container" id="accordionEx"
			role="tablist" aria-multiselectable="true"></div>
		<!--/.Accordion wrapper-->
	</div>
	<br>
	<div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 pl-5 pr-5"
		style="border-left: 1px solid #efefef;">
		<div class="row">
			<br>
		</div>
		<p class="font-content-bold">Types of Services</p>
		<div class="sub-cat-services-container"></div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
</div>
<!--/.Main container-->

<script>

	$(document).ready(function() {			
		var adminURL = "http://172.30.66.149:8000";				
	    // Need to change the hard code data
		var categotyURL = adminURL + "/v1/category?storeId="+storeId;
	
		$.ajax({
			url : categotyURL,
			type : "GET",
			crossDomain : true,
			timeout : 50000,
			success : function(response) {
				console.log("SUCCESS: ", response);
				loadSidebar(response);				
			},
			error : function(xhr, status, error) {
				console.log("ERROR: ", error);
			}
	
		});		
	});
	
	function loadSidebar(response){
	
		var container = "cat-sidebar-container";		
		
		var sideBarFinalContentStr = "";		
		
		 var catRightStr =  `</a></div>`;			
		
		 var SubCatRight = 	`</ul></div></div></div>`
		
		for (var i = 0; i < response[0].children.length; i++) {		
			
			var showCollapes = "";
			if(i == 0){						
				showCollapes = "show";
			}
					
					var finalSubCatTextStr = "";
					for (var j = 0; j < response[0].children[i].children.length; j++) {						
						var a = `<li class="font-size-regular font-content-Normal">`+response[0].children[i].children[j].text+`</li>`;
						finalSubCatTextStr = finalSubCatTextStr + a;
				    }						
						
					var	sideBarContentStr = `<div class="card">			
						<div class="card-header" role="tab" id="headingOne">
						<a data-toggle="collapse" data-parent="#accordionEx"
							href="#collapse`+i+`" aria-expanded="true"
							aria-controls="collapse`+i+`">` 					
					+
					
					`<h6 class="mb-0 font-content-bold">
						`+response[0].children[i].text+` <i class="fa fa-angle-down rotate-icon"></i>
						</h6>`	+ catRightStr +
						
						`<div id="collapse`+i+`" class="collapse `+showCollapes+`" role="tabpanel"
							aria-labelledby="headingOne" data-parent="#accordionEx">
							<div class="card-body p-1">
								<ul>` 						
						
						+ finalSubCatTextStr +SubCatRight;				
		
			sideBarFinalContentStr = sideBarFinalContentStr + sideBarContentStr;		
		}		
		$(".cat-sidebar-container").html(sideBarFinalContentStr);		
	}	
</script>

