
<!--Main container-->
<div class="container">
	<div class="product-desc-layout">
		<!--Accordion wrapper-->
		<div class="accordion accordion-blocks" id="accordionEx78"
			role="tablist" aria-multiselectable="true">

			<!-- Accordion card -->
			<div class="card headercard">

				<!-- Card header -->
				<div class="card-header" role="tab" id="heading79">
					<!-- Heading -->
					<a data-parent="#accordionEx78" href="#collapse78"
						aria-controls="collapse79">
						<h4 class="mt-1 mb-0 font-content-bold text-center">Check Out
						</h4>
					</a>

				</div>

				<!-- Card body -->
				<div id="collapse78" class="collapse show" role="tabpanel"
					aria-labelledby="heading79">
					<div class="card-body card-body-custom">
						<!--Top Table UI-->
						<div class="table-ui p-2 mb-3 mx-3 mb-4">
							<!--Grid row-->
							<div class="row pl-3 pr-3">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="media w-100 parentboxcheckholder">
										<div class="parentboxcheck">
											<div class="childbox">
												<img class="d-flex rounded-circle"
													src="img/banner/Makeup.jpg"
													alt="Generic placeholder image">
											</div>
										</div>
										<div class="media-body text-left py-3">
											<h6 class="d-flex mb-0 mt-0 font-content-bold">
												<div class="mr-auto" id="chk-apointment-service-name"></div>
											</h6>
											<p class="mb-0 font-content-Normal font-content-justify">
												<small>Category: <span id="chk-appointment-service-category-name"></span></small>
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<p
										class="font-content-bold font-size-regular amount-paid-custom text-right pt-3">
										Amount to be paid : &#8377;<span id="chk-appointment-service-amount"></span><sup> /hr</sup>
									</p>
								</div>
							</div>
							<!--Grid row-->
						</div>
						<!--Top Table UI-->
					</div>
				</div>
			</div>
			<!-- Accordion card -->

			<!-- Accordion card -->
			<div class="card">

				<!-- Card header -->
				<div class="card-header" role="tab" id="heading79">
					<!-- Heading -->
					<a data-toggle="collapse" data-parent="#accordionEx78"
						href="#collapse79" aria-expanded="true" aria-controls="collapse79">
						<h6 class="mt-1 mb-0 font-content-Normal font-size-regular">
							<span>Schedule Appointment</span> <i
								class="fa fa-angle-down rotate-icon"></i>
						</h6>
					</a>

				</div>

				<!-- Card body -->
				<div id="collapse79" class="collapse show" role="tabpanel"
					aria-labelledby="heading79">
					<div class="card-body">

						<!--Top Table UI-->
						<div class="table-ui p-2 mb-3 mx-3 mb-4">

							<!--Grid row-->
							<div class="row">

								<!--Grid column-->
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">									

									<p class="mb-1 font-size-light ">Date</p>
									<input type="text" id="chk-service-date" disabled
										class="thedate-custom font-content-Normal  font-size-regular"
										placeholder="Date">


								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<p class="mb-1 font-size-light pl-2 appTime-custom">Time</p>
									<input type="text" id="chk-service-time" disabled
										class="thedate-custom font-content-Normal font-size-regular"
										placeholder="Date">
								</div>
								<!--Grid column-->

							</div>
							<!--Grid row-->

						</div>
						<!--Top Table UI-->
					</div>
				</div>
			</div>
			<!-- Accordion card -->

			<!-- Accordion card -->
			<div class="card">

				<!-- Card header -->
				<div class="card-header" role="tab" id="heading80">
					<!-- Heading -->
					<a data-toggle="collapse" data-parent="#accordionEx78"
						href="#collapse80" aria-expanded="true" aria-controls="collapse80">
						<h6 class="mt-1 mb-0 font-content-Normal font-size-regular">
							<span>Service Address</span> <i
								class="fa fa-angle-down rotate-icon"></i>
						</h6>
					</a>
				</div>

				<!-- Card body -->
				<div id="collapse80" class="collapse" role="tabpanel"
					aria-labelledby="heading80">
					<div class="card-body">
						<!--Top Table UI-->
						<div class="table-ui p-2 mb-3 mx-3 mb-4">
							<!--Grid row-->
							<div class="row">
								<!--Grid column-->
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<!--Radio group-->
									<div class="form-group font-content-Normal">
										<input name="group100" type="radio"> <label
											for="radio100 font-content-justify"   id="chk-service-add"></label>
									</div>
									<!--Radio group-->
								</div>
								<!--Grid column-->
							</div>
							<!--Grid row-->
						</div>
						<!--Top Table UI-->
					</div>
				</div>
			</div>
			<!-- Accordion card -->

			<!-- Accordion card -->
			<div class="card">

				<!-- Card header -->
				<div class="card-header" role="tab" id="heading">
					<!-- Heading -->
					<a data-toggle="collapse" data-parent="#accordionEx78"
						href="#collapse81" aria-expanded="true" aria-controls="collapse81">
						<h6 class="mt-1 mb-0 font-content-Normal font-size-regular">
							<span>Payment Option</span> <i
								class="fa fa-angle-down rotate-icon"></i>
						</h6>
					</a>
				</div>
				<!-- Card body -->
				<div id="collapse81" class="collapse" role="tabpanel"
					aria-labelledby="heading">
					<div class="card-body">
						
						<div id="images">
							<a href="#" class="d-inline-block"> <img class="w-50"
								src="img/icons/NetBanking.png" alt="NetBanking">
								<div class="img-caption font-content-Light font-size-light">Net
									Banking</div>
							</a> <a href="#" class="d-inline-block"> <img class="w-75"
								src="img/icons/CashonDelivery.png" alt="CashonDelivery">
								<div class="img-caption font-content-bold font-size-light">Cash
									On Delivery</div>
							</a> <a href="#" class="d-inline-block"> <img class="w-50"
								src="img/icons/Debitcard.png" alt="Debitcard">
								<div class="img-caption font-content-Light font-size-light">Debit
									Card</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Accordion card -->
		</div>
		<!--/.Accordion wrapper-->

		<button type="button" id="chk-proceed-btn" class="btn grey btn-sm d-block mx-auto">Proceed</button>
	</div>
</div>
<!--/.Main container-->

<script>

		alert("Proceeding with checkout!");


	// Populate Data
	var checkOutApointmentServiceName = $("#selected-service-name").val();
	$("#chk-apointment-service-name").text("");
	$("#chk-apointment-service-name").text(checkOutApointmentServiceName);
	
	var checkOutApointmentServiceCategoryName = $("#selected-sub-cat-name").val();
	$("#chk-appointment-service-category-name").text("");
	$("#chk-appointment-service-category-name").text(checkOutApointmentServiceCategoryName);
	
	var checkOutApointmentServiceAmount = $("#selected-service-amount").val();
	$("#chk-appointment-service-amount").text("");
	$("#chk-appointment-service-amount").text(checkOutApointmentServiceAmount);	

	var checkoutDate =  $("#selected-service-date").val();
	var checkoutTime =  $("#selected-service-time").val();
	
	var checkoutServiceId =  $("#selected-service-id").val();	
	var checkoutServiceAddress =  $("#selected-location-name").val();	
   
	$("#chk-service-date").val("");
	$("#chk-service-date").val(checkoutDate);
	$("#chk-service-time").val("");  
    $("#chk-service-time").val(checkoutDate);   
    $("#chk-service-add").text("");
    $("#chk-service-add").text(checkoutServiceAddress);

	var selectedPaymentMethod = "Cash on Delivery";	
	
	var serviceRequest = {};	
	
	serviceRequest["serviceId"]= checkoutServiceId;
	serviceRequest["customerId"]= checkoutServiceId;
	serviceRequest["customerAddressId"]= checkoutServiceId;
	serviceRequest["requestDescription"]= $("#selected-service-desc").val();
	serviceRequest["requestDate"]= checkoutDate;
	//serviceRequest["expectedStartTime"]= checkoutTime;
	//serviceRequest["tentativeEffortsReqdInHrs"]= checkoutDate;	
	
	//serviceRequest["serviceAppointmentPaymentMethod"]= selectedPaymentMethod;		
	//serviceRequest["serviceAppointmentAmountToBepaid"]= checkOutApointmentServiceAmount;
	//serviceRequest["serviceAppointmentTitle"]= checkOutApointmentServiceName;
	//serviceRequest["serviceAppointmentCategory"]= checkOutApointmentServiceCategoryName;	
	
	
	/* {
   
	    "customerId": "9625558b-f4d9-468b-bff1-1bbff89cfa0b",
	    "customerAddressId": null,
	    "serviceId": "9625558b-f4d9-468b-bff1-1bbff89cfa0b",
	    "requestDescription": "",
	    "requestDate": "",
	    "expectedStartTime": "",
	    "tentativeEffortsReqdInHrs": ""
       }
	 */
	
	
		
	$("#chk-proceed-btn").click(function() {  
		
		alert("Proceeding clicked!");
		
		alert(JSON.stringify(serviceRequest));
		var checkOutURL = serviceURL + "/serviceRequest";	
		alert(checkOutURL);
		callAjaxPostJSON(checkOutURL, "POST", "", serviceRequest);
	});	
	
	
	
	
</script>
</body>

</html>
